/* PoliceRegister.css */
  .form-header {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  form{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .form-container{
    overflow-y: auto;
    margin-top: 70px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    background-color:blue;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .left {
    font-weight: bold;
  }
  
  .table--container {
    max-height: 90vh; /* Set the desired height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .police--table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 80px;

  }
  
  .police-table th,
  .police-table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .police-table th {
    background-color: #eee;
  }
  
  /* Sticky header */
  .police-table th {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
  }
  input[type='date']{
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    height: 40px;
  }
